:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --size-button:60px;
  --font-size:18px;
  --base-space:8px;
  --size-thumbnail:50px;
  /* annimation */
  --size-animation-duration:300ms;
  --size-border:4px;
}

* {
  box-sizing: border-box;
}
ol,ul{
  list-style: none;
}
body{
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.logo{
  cursor: pointer;
  transition: transform 300ms ease;
}

.btn{
  background-color: transparent;
  /* 투명 */
  border:none;
  outline:none;
  cursor:pointer;
  transition: transform 300ms ease;
  margin-left: var(--base-space);
}

.logo:hover,
.btn:hover{
  transform: scale(1.1);
}
.imgBtn{
  width:var(--size-button);
  height:var(--size-button);
}
.button-wrap{
  display: flex;
  align-items: center;

}
.colorBtn{
  font-size:var(--font-size);
  padding:calc(var(--base-space)*2);
  border-radius: var(--size-border);
  
}
.blue{
  background-color: var(--color-blue);
}
.yellow{
  background-color: var(--color-yellow);
}
.pink{
  background-color: var(--color-pink);
}
.items{
  overflow-y:scroll;
  height: 60%;
  width: 60%;
  padding-left: 0;
}
.item{
  background: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}
.item-thumnail{
  width:var(--size-thumbnail);
  height:var(--size-thumbnail);

}
.item-description{
  margin-left: var(--base-space);
  font-size: var(--font-size);
}